main {
  margin: 30px 15px 50px 15px;
  width: 75%;
  max-width: 1200px;
}

.div-background {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 92%;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 9px;
}
.cafeproject-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  color: var(--white-custom);
  background-color: var(--black-custom);
  display: flex;
  justify-content: center;
  margin: 48px 0px 69px 0px;
  font-size: clamp(1rem, 26px, 4rem);
  padding: 7px -1px;
  width: max-content;
  padding: 0px 8px;
}
.cafeproject-section_wrapper-italic {
  border-left: 4px solid var(--dark-gray-custom);
  padding-left: 16px;
  margin-left: 0px;
  color: var(--black-custom);
  background-color: var(--blue-light-custom);
  margin: 23px 0px;
}
.cafeproject-section_title {
  color: var (--white-custom);
}
.texte-normal {
  color: var(--black-custom);
  font-weight: bold;
  font-size: clamp(1rem, 18px, 4rem);
}
.mentions-complementaires_1 .mentions-complementaires_2 {
  color: var(--black-custom);
  font-weight: bold;
  font-size: clamp(1rem, 18px, 4rem);
}
img {
  width: 100%;
  filter: grayscale(80%);
}
.button-menu {
  color: var(--black-custom);
}
.texte-tableau_noir {
  color: var(--black-custom);
  margin: 60px 10px 20px 20px;
}
.texte-tableau_gris {
  color: var(--dark-gray-custom);
  margin: 26px 10px 20px 20px;
}
.texte-formulaire_gris {
  color: var(--black-custom);
  font-size: clamp (1rem, 19px, 3rem);
}
input,
textarea {
  background-color: var(--white-custom);
  color: var(--black-custom);
  padding: 7px;
  margin: 10px 0;
  width: -moz-available;
  height: 40px;
  font-weight: bold;
  font-size: clamp (1rem, 19px, 3rem);
  border: none;
}
.cafeproject-colonm {
  color: var(--white-custom);
}
textarea {
  color: var(--black-custom);
  background-color: var(--white-custom);
  padding-top: 22px;
  height: 20px;
  font-size: clamp (1rem, 19px, 3rem);
}
input[type="submit"] {
  color: var(--white-custom);
  background-color: var(--black-custom);
  padding: 8px 23px;
  font-size: large;
  width: auto;
  border: none;
}
.fui {
  color: var(--white-custom);
  background-color: var(--black-custom);
  padding: 4px;
}
span {
  font-weight: bold;
}
.texte-normal {
  padding: 16px 0px;
}
.texte-italic {
  padding-top: 16px;
  font-weight: bold;
  font-size: clamp(1rem, 18px, 4rem);
}
.mentions-complementaires_1 {
  padding: 16px 0px;
}
.cafeproject-section_wrappertableau {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 4px 2px 26px 6px var(--dark-gray-custom);
  padding: 22px 0;
  margin-bottom: 33px;
  width: 100%;
}
.cafeproject-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  margin-top: -5px;
  width: 100%;
}
.cafeproject-section_container {
  box-shadow: 4px 2px 26px 6px var(--dark-gray-custom);
  width: 90%;
  padding: 10px 15px;
}
button {
  border: none;
  font-size: clamp(1rem, 18px, 4rem);
  font-weight: bold;
}
