footer {
  width: 100%;
  max-width: 1200px;
}
.cafeproject-footer {
  background-color: var(--light-gray-custom);
  color: var(--black-custom);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 78px 0px 68px 0px;
  font-weight: bold;
  font-size: clamp(1rem, 2vw, 4rem);
  height: 100%;
}
footer > p > span {
  text-decoration: underline;
}
